.page {
  height: 100vh;
  width: 100%;
  background-color: #424242;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  max-height: 100vh;
}

.poke_page {
  align-items: center;
  justify-content: center;
}

.move-list-container {
  max-height: 600px;   /* adjust to taste */
  overflow-y: scroll;  /* adds a scrollbar if content overflows */
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
}

.move-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.move-list img {
  width: 100px;
  height: auto;
}

.hidden-ability {
  text-decoration: wavy;
}