.page {
  height: 100vh;
  width: 100%;
  background-color: #424242;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.poke_page {
  align-items: center;
  justify-content: center;
}

.move-list-container {
  max-height: 400px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
}

.move-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.moveset-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.move-list img {
  width: 100px;
  height: auto;
}

.hidden-ability {
  font-style: italic;
}

.table-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.moveset-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.possible-moves {
  font-size: 28px;
}

.abilities {
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 18px;
  justify-content: center;
}

.image-stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.image-stats img {
  display: block;
  width: 150px;
  height: auto;
}

.types {
  display: flex;
  align-items: center;
  justify-content: center;
}

.abilities li {
  font-size: 28px;
}

.movesets {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.25rem;
}

.movesets-table {
  width: auto;
}

.movesets h4 {
  font-size: 20px;
}

.movesets h5 {
  font-size: 16px;
}

.competitive-movesets {
  font-size: 28px;
  margin-top: 0.5rem;
}

.error {
  font-size: 30px;
  color: red;
}

.loading {
  font-size: 30px;
}